env/
data/images/

checkpoints/*.pt

*.egg-info
*.zip
*.idea
*.DS_Store
*.ipynb_checkpoints
*.pyc
*__pycache__
*.swp

# Secret Environment Variables
.env*
env.sh

# Output
_results

# HF Cache
hf_cache/
